### Exercise

A. Choose the values from the range of numbers 1 to 100.
1. Create an array with 30 values within the range of numbers given. You can choose your own start value and stop value. However, the incrementing value will be 2.
   * Explain what is the result briefly by writing a comment before the code.
2. Multiply the resulting array with 3. Print the result.

In [3]:
import numpy as np   # Imports the numpy module and call it as np

A = np.array([[i for i in range(1, 101)]])  # I used list comprehension to generate values from 1 to 100.

In [5]:
# Creates an array with 30 values within the range of numbers 1 to 100 with an increment of 2
arr = np.arange(1, 61, 2)
# The range starts from 1, ends at 61 (exclusive), and increments by 2, resulting in 30 values.

# Multiply the resulting array by 3
result = arr * 3
# Each value in the array is multiplied by 3.

# Prints the result
print("Result: ")
print(result)

Result:
[  3   9  15  21  27  33  39  45  51  57  63  69  75  81  87  93  99 105
 111 117 123 129 135 141 147 153 159 165 171 177]